<div class=“ row”>
    <div class=“ span12”>
        <div class=“ error-container”>
            <h2>系統提示</h2>
            <h2>{{.message}}</h2>
            <div class=“ error-actions”>
                <a href="{{.redirect}}" class="btn btn-large btn-primary">
                    <si class=“ icon-chevron-left”></si>
                    ＆nbsp;
                    返回上一頁
                </a>
            </div> <!-- /error-actions -->
        </div> <!-- /error-container -->
    </div> <!-- /span12 -->
</div>
